body {
    background-color: #01859a;
}

#inner {
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    /* border: 1px solid black; */
}

label{
    display: block;
    position: relative;
}

#title{
    width: 100%;
    height: 50px;
    background-color: #41b1c2;
    border-radius:10px 10px 0 0;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 3% 0 2% 0;
    letter-spacing: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#inner img{
    margin-top: 5%;
    max-width: 100%;
}

#inner label{
    font-size: 30px;
}


#outer {
    border-radius: 20px;
    background-color: white;
    max-width: 50%;
    margin: 8% 25% 0 25%;
    box-sizing: border-box;
}

#uid {
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
    height: 50px;
}

#minDate , #maxDate {
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    padding-left: 5%;
    height: 50px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

button{
    border: none;
    background-color: #01859a;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    margin-bottom: 10%;
}