body {
    background-color: #01859a;
}

.inner {
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    /* border: 1px solid black; */
}

.inner img{
    margin-top: 5%;
    max-width: 100%;
}

input[type="text"]::placeholder,input[type="password"]::placeholder {  
                  
    padding-left: 5%; 
} 

#outer {
    border-radius: 20px;
    background-color: white;
    max-width: 50%;
    margin: 8% 25% 0 25%;
    box-sizing: border-box;
}

input{
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    padding-left: 10%;
}

#loginBtn{
    border: none;
    background-color: #01859a;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    margin-bottom: 10%;
}

@media screen and (max-width: 900px){
   input{
       width: 100%;
   }
   img{
       width: 70%;
       margin-left: 15%;
   }
}